.vacancies{
    margin: 1% 20% 0 20%;
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.h2-vac{
    color: #FFC801;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.p-vac {
    font-size: 1.1em;
    line-height: 1.6;
}

p strong, p b {
    color: #FFC801;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    margin-top: 20px;
}